*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #ffe;    
    font-family: garamond;    
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin: 2% auto;
    color: rgb(187, 140, 23);
    background: rgba(8, 3, 3, 0.747);
    border-bottom: solid rgba(58, 58, 56, 0.842) 1px;
}
footer{
    display: flex;
    bottom: 1%;
    justify-content: center;
    border-top: solid rgba(58, 58, 56, 0.842) 1px;
    margin: 4%;
    font-size: 1.4em;
    padding-top: 1%;
    background: rgba(8, 3, 3, 0.747);
    color: rgb(187, 140, 23);
}
footer a{
    padding: 0 1%;
    text-decoration: none;
    color: rgb(230, 168, 13);
}
footer a:hover{
    color: gray;
}
.navBox{
    margin: 3% auto;
    width: 50%;
    display: flex;
    justify-content: center;
    /* border: solid white 2px; */
}
.navBox button{
    font-size: 1.6em;
    margin: 0;
    width: 90%;
    height: 2em;
    background-color: black;
    color: rgb(209, 156, 23);
    font-family: garamond;
    border: none;
}
.navBox button:hover{
    /* background: rgb(26, 25, 25); */
    padding-bottom: 0.3em;
    border-bottom: solid gray 2px;
}
#active{
    border-bottom: solid rgb(180, 134, 18) 2px;
}

#imgHome{
    width: 40%;
    height: auto;
    display: block;
    margin: 2% auto;
    border-radius: 50%;
}
#homeDescription{
    line-height: 1.7em;
}
.mainContent{
    border: solid rgba(58, 58, 56, 0.534) 1px;
    width: 70%;
    margin: auto;
    font-size: 20px;
    padding: 1% 0;
    text-align: center;
    background-color: rgba(8, 3, 3, 0.534);
}
#imgMap{
    width: 40%;
    height: auto;
    display: block;
    margin: 2% auto;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.menu h1{
    padding: 5%;
}
.menu-item{
    width : 40%;
    border: solid gray 2px;
    margin: 2% 0;
}
.menu-item:hover{
    background-color: rgba(150, 150, 146, 0.103);
}
.menu-item img{
    width: 40%;
}
#about{
    padding: 5%;
}
#bonfire{
    display: flex;   
    justify-content: center;
}
#icon{
    height: 50px;
    margin-right: 20px;
}
div.mainContent h1{
    color: rgb(187, 140, 23);
}
.bonfireImg{
    height: 60px;
}
.bonfireImg2{
    transform: scaleX(-1);
}