*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin: 2% auto;
}
.navBox{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    border: solid black 2px;
    margin: 2% auto;
}
.navBox button{
    font-size: 18px;
    margin: 0 2%;
}
